.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: none;
  margin: 0px;
  background-color: white;
}

.App input {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
}

.credit {
  font-size: 12px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.detail {
  margin: 10px;
  font-size: 18px;
}

.searchbar {
  margin-bottom: 15px;
}

.card {
  /* margin-top: 8px; */
  display: flex;
  background-color: gray;
  color: white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-top: 8px;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  border: solid black 2px;
}

.card:hover {
  box-shadow: inset 300px 0 0 0 #313131;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  padding: 6px;
}
